$header1: 2.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 2.5rem;
$gradient: linear-gradient(left, #38d39f, #38a4d3);
$background-color: #154353;
$gray-text: #2c2c2c;

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@import "global";
@import "intro";
@import "projects";

@media screen and (max-width: 1260px) {
  html {
    font-size: 55%;
  }

  .splash {
    display: none;
  }

  svg {
    width: 80%;
  }

  nav {
    width: 100%;
  }

  .intro-section {
    width: 95%;
    margin: 0 0 0 auto;
  }
}

@media screen and (max-width: 758px) {
  html {
    font-size: 45%;
  }

  .main-head {
    width: 100%;
  }

  .intro-text {
    text-align: center;
    margin-top: 3rem;
  }

  .intro-images {
    text-align: center;
  }

  svg {
    height: 40%;
    margin-top: 4rem;
  }

  nav .logo {
    @include flex(center, center, column);
    margin: 2rem 0;
    flex: 1 1 60rem;
  }

  nav ul {
    flex: 1 1 60rem;
  }

  .projects img {
    height: 100%;
    width: 100%;
  }
}
